@import "./style.scss";
@import "./mixin.scss";

html {
  overflow: overlay;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($color: #ffb400, $alpha: 0.8);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 8px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333333;
  font : {
    family: "Noto Sans KR", sans-serif;
    weight: 300;
    size: 1em;
  }
}

.wrapper {
  width: 100%;
  overflow: hidden;
  // background-color: rgb(151, 168, 240);
  color: white;
}

.container {
  width: 89.74358974358974%;
  // background: plum;
  // overflow: hidden;
  @include responsive(pc-screens) {
    width: 100%;
  }

  position: relative;
  max-width: 1380px;
  margin: 0 auto;
}

a {
  display: block;
  color: #333333;
  text-decoration: none;
  font: {
    family: "Noto Sans KR", sans-serif;
    weight: 100;
    size: 1em;
  }
}

img {
  display: block;
}

h1 {
  font-size: 7.5em;
  font-weight: 300;
  font-family: $common_font;
}

h2 {
  font-size: 5em;
  font-weight: 300;
}

h3 {
  font-size: 3em;
  font-weight: 300;
}

h4 {
  font-weight: 300;
}

h5 {
  font-weight: 300;
}

ul,
ol,
li {
  list-style: none;
}
