//============중단점============/
$break-mobile: '320px';
$break-middle: '800px'; // 이거는 br을 없애기 위한 용도입니다. 사용 시 조장에 허락을 맡으시길
$break-pc: '1400px';

//============폰트패밀리============/
$eng_title_font:'LEMON MILK Light';
$common_font: 'SCoreDream';


//============톤앤매너============/
$base_color_light: #fefdf0;
$base_color_dark: #422d13;
$footer_color: #ffef5a;
$dkgray_color: #333333;

//============마진값============/
$big_margin_m:100px;
$big_margin:200px;
$mid_margin_m: 65px;
$mid_margin: 125px;
$small_margin_m: 25px;
$small_margin: 50px;
$footer_margin_m: 100px; 
$footer_margin: 200px;

//============폰트사이즈============/
$bigf_title_m: calc(1em + 5vw);
$bigf_title: 80px;
$bigf_main_m: 0;
$bigf_main: 48px;
$bigf_sub_title_m: calc(0.5em + 3vw);
$bigf_sub_title: 40px;
$regularf_tite_m:0;
$regularf_title: 32px;
$semif_m:0;
$semif: 24px;
$middlef_main_m:0;
$middlef_main:28px;
$mainf_m: 0;
$mainf: 18px;


//============레터스페이싱============/
$bigs_main: 96px;
$middles_main: 48px;
$mains: 36px;
$semis: 48px;
