html {
  overflow: overlay;
}
html::-webkit-scrollbar {
  width: 8px;
}
html::-webkit-scrollbar-thumb {
  background-color: rgba(138, 113, 75, 0.8);
  border-radius: 8px;
}
html::-webkit-scrollbar-track {
  border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333333;
  font-family: "SCoreDream";
  font-weight: 200;
  font-size: 1.125em;
}

.wrapper {
  width: 100%;
  color: white;
}

.container {
  width: 89.7435897436%;
  position: relative;
  max-width: 1380px;
  margin: 0 auto;
}
@media screen and (min-width: 1400px) {
  .container {
    width: 100%;
  }
}

a {
  color: #333333;
  text-decoration: none;
  font-family: "SCoreDream";
  font-weight: 100;
  font-size: 1em;
}

h1 {
  font-size: 7.5em;
  font-weight: 200;
  font-family: "SCoreDream";
}

h2 {
  font-size: 5em;
  font-weight: 200;
}

h3 {
  font-size: 3em;
  font-weight: 200;
}

h4 {
  font-weight: 200;
}

h5 {
  font-weight: 200;
}

ul,
ol,
li {
  list-style: none;
}

.no {
  display: none;
}

.not_scroll {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.menu_modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 700;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.75);
}
@media screen and (min-width: 1400px) {
  .menu_modal {
    background-color: transparent;
  }
}
.menu_modal::-webkit-scrollbar {
  width: 8px;
}
.menu_modal::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}
.menu_modal::-webkit-scrollbar-track {
  border-radius: 8px;
}
.menu_modal .menu_entire {
  width: 89.7435897436%;
  margin: 0 auto;
  z-index: 800;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire {
    width: 93.75%;
  }
}
.menu_modal .menu_entire .menu_header h1 {
  display: none;
}
.menu_modal .menu_entire .menu_header .menu_header_flex {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_header .menu_header_flex {
    margin-top: 30px;
  }
}
.menu_modal .menu_entire .menu_header .menu_header_flex .not_for_m {
  display: none;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_header .menu_header_flex .not_for_m {
    display: block;
  }
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_left {
  display: flex;
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_left .menu_lan {
  order: 2;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_left .menu_lan {
    margin-right: 50px;
  }
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_left .menu_lan label {
  color: white;
  letter-spacing: 1px;
  font-family: "LEMON MILK Light";
  font-size: 1em;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_left .menu_lan label {
    order: 1;
    display: inline;
    font-size: 1.2em;
  }
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_left .menu_lan select {
  margin-left: 2.5641vw;
  color: white;
  font-family: "SCoreDream";
  font-size: 0.75em;
  background: transparent;
  border: 0;
  border-bottom: 1px solid white;
  border-collapse: collapse;
  outline: none;
  transform: translateY(-5px);
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_left .menu_lan select {
    display: inline;
    font-size: 0.9em;
    margin-left: 10px;
  }
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_left .menu_lan option {
  background-color: #333333;
  border: 0;
  opacity: 0.5;
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_left .menu_lan option:hover {
  background-color: white;
  color: #333333;
  transition: all 0.5s;
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_left .menu_sns {
  order: 1;
  font-family: "LEMON MILK Light";
  font-size: 1em;
  letter-spacing: 1px;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_left .menu_sns {
    display: inline;
    font-size: 1.2em;
    order: 2;
  }
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_left .menu_sns ul {
  display: flex;
  justify-content: space-between;
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_left .menu_sns ul li {
  margin-left: 5px;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_left .menu_sns ul li {
    margin-left: 10px;
  }
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_left .menu_sns ul li img:hover {
  transform: scale(1.25);
  transition: 1s;
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_right {
  display: flex;
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_right .menu_login {
  transform: translateX(-20px);
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_right .menu_login:hover img {
  transform: scale(1.25) rotateY(360deg);
  transition: 1s;
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_right .menu_login:hover p {
  color: #ffef5a;
  transition: 1s;
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_right .menu_login a {
  display: flex;
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_right .menu_login a img {
  margin-right: 5px;
  width: 18px;
  height: 18px;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_right .menu_login a img {
    margin-right: 10px;
    width: 22px;
    height: 22px;
  }
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_right .menu_login a p {
  font-family: "LEMON MILK Light";
  font-size: 1em;
  color: white;
  letter-spacing: 1px;
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_right .menu_close {
  display: flex;
  cursor: pointer;
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_right .menu_close:hover .close_modal {
  transform: scale(1.25) rotateY(360deg);
  transition: 1s;
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_right .menu_close:hover p {
  color: #ffef5a;
  transition: 1s;
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_right .menu_close .close_modal {
  position: relative;
  width: 18px;
  height: 18px;
  margin: 0 auto;
  display: inline;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_right .menu_close .close_modal {
    width: 22px;
    height: 22px;
  }
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_right .menu_close .close_modal span {
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_right .menu_close .close_modal span {
    margin-left: 0;
  }
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_right .menu_close .close_modal span:first-child {
  transform: rotate(135deg) translateX(0%);
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_right .menu_close .close_modal span:nth-child(2) {
  transform: rotate(45deg) translateX(0%);
}
.menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_right .menu_close p {
  margin-left: 10px;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_header .menu_header_flex .menu_header_right .menu_close p {
    font-family: "LEMON MILK Light";
    font-size: 1em;
    color: white;
    letter-spacing: 1px;
  }
}
.menu_modal .menu_entire .menu_main {
  padding-top: 6.4103vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main {
    flex-direction: row;
    padding-top: 50px;
    margin: 0 auto;
  }
}
.menu_modal .menu_entire .menu_main .menu_main_left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_left {
    width: 30%;
    flex-direction: column;
  }
}
.menu_modal .menu_entire .menu_main .menu_main_left .img {
  text-align: center;
  width: 40%;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_left .img {
    width: 80%;
    max-width: 800px;
  }
}
.menu_modal .menu_entire .menu_main .menu_main_left .img img.mm_logo {
  width: 20vw;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_left .img img.mm_logo {
    display: none;
  }
}
.menu_modal .menu_entire .menu_main .menu_main_left .img img.pm_logo {
  display: none;
  max-width: 300px;
  margin: 0 auto;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_left .img img.pm_logo {
    display: block;
    width: 200px;
    margin-top: 50px;
  }
}
.menu_modal .menu_entire .menu_main .menu_main_left .contents {
  width: 60%;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_left .contents {
    width: 90%;
  }
}
.menu_modal .menu_entire .menu_main .menu_main_left .contents p {
  font-family: "SCoreDream";
  font-size: 0;
  font-size: calc(0.5em + 1.5vw);
  text-align: center;
  line-height: 2em;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_left .contents p {
    margin-top: 40px;
    font-size: 21px;
  }
}
@media screen and (min-width: 800px) {
  .menu_modal .menu_entire .menu_main .menu_main_left .contents p br {
    display: none;
  }
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_left .contents p br {
    display: block;
  }
}
.menu_modal .menu_entire .menu_main .menu_main_left .contents p span.pc {
  display: none;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_left .contents p span.pc {
    display: inline;
  }
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_left .contents p span.mob {
    display: none;
  }
}
.menu_modal .menu_entire .menu_main .menu_main_right {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  font-weight: 100;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_right {
    width: 70%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.menu_modal .menu_entire .menu_main .menu_main_right a {
  color: white;
}
.menu_modal .menu_entire .menu_main .menu_main_right li {
  cursor: pointer;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
  }
}
.menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead li.big_menu {
  font-family: "LEMON MILK Light";
  font-size: calc(16px + 2vw);
  letter-spacing: 1px;
  margin-bottom: 50px;
  position: relative;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead li.big_menu {
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 100px;
    width: 25%;
  }
}
.menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead li.big_menu:hover {
  transition: all 0.5s;
  color: #ffef5a;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead li.big_menu:hover {
    color: #ffef5a;
  }
}
.menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead li.big_menu:hover > a {
  color: #ffef5a;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead li.big_menu:hover > a {
    color: #ffef5a;
  }
}
.menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead li.big_menu:hover::before {
  content: "";
  display: block;
  width: 30px;
  border-bottom: 3px solid #ffef5a;
  margin: 0 0 5px 5px;
  position: absolute;
  top: -5px;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead li.big_menu:hover::before {
    content: "";
    display: block;
    width: 30px;
    border-bottom: 3px solid #ffef5a;
    margin: 0 0 5px 5px;
  }
}
.menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead li.big_menu > a {
  font-family: "LEMON MILK Light";
  font-size: calc(16px + 2vw);
  margin-bottom: 50px;
}
.menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead li.big_menu > a:hover {
  color: #ffef5a;
  transition: all 0.5s;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead li.big_menu > a:hover {
    color: #ffef5a;
  }
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead li.big_menu > a {
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 100px;
    width: 25%;
  }
}
.menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead .menu_semi_head {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead .menu_semi_head {
    flex-direction: column;
    padding-top: 30px;
  }
}
.menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead .menu_semi_head li.mid_menu {
  font-family: "SCoreDream";
  font-size: calc(14px + 0.5vw);
  color: white;
  width: 50%;
  font-weight: 300;
  margin-bottom: calc(0.5em + 0.5vw);
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead .menu_semi_head li.mid_menu {
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 200;
  }
}
.menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead .menu_semi_head li.mid_menu:hover {
  transition: all 0.5s;
  color: #ffef5a;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead .menu_semi_head li.mid_menu:hover {
    color: #ffef5a;
  }
}
.menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead .menu_semi_head li.mid_menu:hover ul {
  display: block;
}
.menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead .menu_semi_head li.mid_menu > a {
  font-family: "SCoreDream";
  font-size: calc(14px + 0.5vw);
  font-weight: 300;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead .menu_semi_head li.mid_menu > a {
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 200;
  }
}
.menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead .menu_semi_head li.mid_menu > a:hover {
  color: #fefdf0;
  color: #ffef5a;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead .menu_semi_head li.mid_menu > a:hover {
    color: #ffef5a;
  }
}
.menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead .menu_semi_head li.mid_menu ul {
  padding-top: 10px;
  display: none;
}
.menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead .menu_semi_head li.mid_menu ul li {
  list-style: "- " inside;
  margin-bottom: calc(0.2em + 0.3vw);
  margin-bottom: 10px;
  font-weight: 300;
  font-family: "SCoreDream";
  font-size: calc(12px + 0.5vw);
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead .menu_semi_head li.mid_menu ul li {
    font-size: 16px;
  }
}
.menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead .menu_semi_head li.mid_menu ul li a:hover {
  transition: all 0.5s;
  color: #ffef5a;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_entire .menu_main .menu_main_right .menu_bighead .menu_semi_head li.mid_menu ul li a:hover {
    color: #ffef5a;
  }
}
.menu_modal .menu_matte {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: -1;
}
@media screen and (min-width: 1400px) {
  .menu_modal .menu_matte {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
  }
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
header .header_entire {
  display: flex;
  justify-content: space-between;
  width: 89.7435897436%;
  margin: 0 auto;
}
@media screen and (min-width: 1400px) {
  header .header_entire {
    width: 93.75%;
  }
}
header .header_entire .header_logo {
  width: 126px;
}
@media screen and (min-width: 1400px) {
  header .header_entire .header_logo {
    width: 200px;
  }
}
header .header_entire .header_logo img {
  width: 126px;
  height: auto;
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  header .header_entire .header_logo img {
    width: 200px;
    margin-top: 20px;
  }
}
header .header_entire .menu {
  cursor: pointer;
  width: 70px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  text-align: right;
  margin-top: 5px;
}
@media screen and (min-width: 1400px) {
  header .header_entire .menu {
    width: 80px;
    color: #422d13;
  }
}
header .header_entire .menu .menu_bar {
  width: 33%;
  display: block;
  width: 16px;
  height: 13px;
  cursor: pointer;
  position: relative;
}
header .header_entire .menu .menu_bar span {
  display: block;
  height: 0.5px;
  width: 100%;
  background: #fff;
  position: absolute;
  right: 0;
}
@media screen and (min-width: 1400px) {
  header .header_entire .menu .menu_bar span {
    background: #422d13;
  }
}
header .header_entire .menu .menu_bar span:nth-child(1) {
  top: 0;
}
header .header_entire .menu .menu_bar span:nth-child(2) {
  top: 50%;
  transform: translateY(50%);
  width: 80%;
}
header .header_entire .menu .menu_bar span:nth-child(3) {
  bottom: 0;
}
header .header_entire .menu .menu_type p {
  font-family: "LEMON MILK Light", sans-serif;
  font-size: 16px;
}
@media screen and (min-width: 1400px) {
  header .header_entire .menu .menu_type p {
    font-size: 19.2px;
  }
}

section div.main0 {
  height: 100vh;
}
section div.main0 .bg_img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}
section div.main0 .bg_img__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@keyframes img_size {
  from {
    transform: scale(1.2);
    transform-origin: center center;
  }
  to {
    transform: scale(1);
  }
}
section div.main0 .bg_img img {
  animation: img_size 10s;
}
@media screen and (min-width: 1400px) {
  section div.main0 .bg_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
section div.main0 .main0_contents {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section div.main0 .main0_contents h2 {
  font-family: "LEMON MILK Light";
  font-size: calc(1.5em + 3vw);
  letter-spacing: 2px;
  color: white;
  margin-bottom: calc(0.3em + 0.5vw);
}
@media screen and (min-width: 1400px) {
  section div.main0 .main0_contents h2 {
    font-size: 5em;
    margin-bottom: 40px;
  }
}
section div.main0 .main0_contents h2::before {
  content: "";
  display: block;
  width: 40px;
  border-bottom: 6px solid white;
  margin: 5px auto;
}
@media screen and (min-width: 1400px) {
  section div.main0 .main0_contents h2::before {
    content: "";
    display: block;
    width: 80px;
    border-bottom: 8px solid white;
    margin: 10px auto;
  }
}
section div.main0 .main0_contents button {
  width: 200px;
  background-color: transparent;
  border: 1px solid white;
  height: 50px;
  font-family: "SCoreDream";
  font-size: 1.2em;
  color: white;
  font-weight: 200;
}
@media screen and (min-width: 1400px) {
  section div.main0 .main0_contents button {
    width: 360px;
    height: 65px;
    font-size: 2em;
  }
}
section div.main0 .main0_contents button:hover {
  background-color: #fff;
  transition: all 0.5s;
  color: #333;
}
section div.main0 .colormatte {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.1;
  z-index: -1;
}
section div.main0 .mouse {
  position: absolute;
  left: 50%;
  bottom: 20px;
}
@keyframes move {
  from {
    bottom: 30px;
  }
  75% {
    bottom: 60px;
  }
  to {
    bottom: 60px;
  }
}
@keyframes move_pc {
  from {
    bottom: 60px;
  }
  75% {
    bottom: 30px;
  }
  to {
    bottom: 30px;
  }
}
section div.main0 .mouse img {
  position: absolute;
  bottom: 40px;
  animation: move 2s infinite;
  transform: translateX(-50%);
}
@media screen and (min-width: 1400px) {
  section div.main0 .mouse img {
    animation: move_pc 2s infinite;
  }
}
section div.main0 .mouse p {
  transform: translateX(-50%);
  font-family: "LEMON MILK Light";
  letter-spacing: 1px;
  color: white;
}
section div.main0 .mouse .pc_mouse {
  display: none;
}
@media screen and (min-width: 1400px) {
  section div.main0 .mouse .pc_mouse {
    display: block;
  }
}
section div.main0 .mouse .mo_mouse img {
  opacity: 0.5;
}
@media screen and (min-width: 1400px) {
  section div.main0 .mouse .mo_mouse {
    display: none;
  }
}

main {
  position: relative;
  background-color: #fefdf0;
  height: 100%;
}
@media screen and (min-width: 1400px) {
  main {
    min-width: 100vw;
    min-height: 100vh;
    height: fit-content;
  }
}
main .bighead {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media screen and (min-width: 1400px) {
  main .bighead {
    flex-direction: row;
  }
}
main .bighead .image_area {
  position: relative;
  width: 100%;
  height: calc(200px + 20vw);
}
@media screen and (min-width: 1400px) {
  main .bighead .image_area {
    width: 34.8958333333%;
    height: auto;
    min-height: 100vh;
    margin: 0 auto;
  }
}
main .bighead .image_area img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 1400px) {
  main .bighead .image_area img {
    min-height: 100vh;
  }
}
main .bighead .image_area .titlearea {
  position: absolute;
  bottom: -5%;
  right: 3%;
}
@media screen and (min-width: 1400px) {
  main .bighead .image_area .titlearea {
    top: -20px;
    right: 25px;
    bottom: 0;
  }
}
main .bighead .image_area .titlearea h1 {
  font-family: "LEMON MILK Light";
  font-size: calc(2em + 3vw);
  color: #fefdf0;
  letter-spacing: 2px;
  margin-right: 20px;
  opacity: 0.8;
}
@media screen and (min-width: 1400px) {
  main .bighead .image_area .titlearea h1 {
    font-size: 3.5em;
    transform-origin: center right;
    transform: rotateZ(-90deg);
    margin: 0;
  }
}
main .bighead .contents_area {
  width: 100%;
  color: #422d13;
  max-width: 600px;
  margin: 0 auto;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area {
    width: 65.1041666667%;
    max-width: none;
  }
}
main .bighead .contents_area .cust_flex {
  z-index: 34;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 25px;
  justify-content: space-around;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex {
    width: 90%;
    max-width: 1300px;
    flex-direction: row;
    margin-left: 50px;
  }
}
main .bighead .contents_area .cust_flex .cust_left {
  width: 100%;
}
main .bighead .contents_area .cust_flex .cust_left h4 {
  font-family: "LEMON MILK Light";
  font-size: calc(0.5em + 3vw);
  margin-bottom: calc(0.5em + 2vw);
  text-align: center;
  letter-spacing: 2px;
  font-size: calc(1.2em + 1vw);
  text-align: left;
  margin-bottom: 0;
  color: #422d13;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_left h4 {
    font-size: 40px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_left h4 {
    font-size: 24px;
    margin-bottom: 0;
  }
}
main .bighead .contents_area .cust_flex .cust_left h4::before {
  content: "";
  display: block;
  width: 20px;
  border-bottom: 3px solid #422d13;
  margin: 0 0 5px 5px;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_left h4::before {
    content: "";
    display: block;
    width: 20px;
    border-bottom: 3px solid #422d13;
    margin: 0 0 5px 5px;
  }
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_left {
    width: 400px;
  }
}
main .bighead .contents_area .cust_flex .cust_left .qna_icon ul {
  margin-top: 35px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_left .qna_icon ul {
    margin-top: 20px;
  }
}
main .bighead .contents_area .cust_flex .cust_left .qna_icon ul li {
  width: 30%;
  height: auto;
  display: block;
  background-color: #f3f2e7;
  cursor: pointer;
  margin-bottom: calc(10px + 1vw);
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_left .qna_icon ul li {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
  }
}
main .bighead .contents_area .cust_flex .cust_left .qna_icon ul li.thick {
  background-color: rgba(66, 45, 20, 0.25);
}
main .bighead .contents_area .cust_flex .cust_left .qna_icon ul li:hover {
  background-color: rgba(66, 45, 20, 0.25);
}
main .bighead .contents_area .cust_flex .cust_left .qna_icon ul li img {
  width: 40%;
  margin-top: 10%;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_left .qna_icon ul li img {
    margin-top: 20px;
    width: 45px;
  }
}
main .bighead .contents_area .cust_flex .cust_left .qna_icon ul li p {
  font-family: "SCoreDream";
  font-size: calc(10px + 0.5vw);
  font-weight: 400;
  margin-bottom: 10%;
  margin-top: 10px;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_left .qna_icon ul li p {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 15px;
  }
}
main .bighead .contents_area .cust_flex .cust_left .qna {
  margin-top: 25px;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_left .qna {
    margin-top: 50px;
  }
}
main .bighead .contents_area .cust_flex .cust_left .qna div ul li {
  list-style: disc inside;
  margin-bottom: 10px;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_left .qna div ul li {
    margin-bottom: 15px;
  }
}
main .bighead .contents_area .cust_flex .cust_left .qna div ul li:last-child {
  margin-bottom: 0;
}
main .bighead .contents_area .cust_flex .cust_left .qna div ul li p {
  display: inline;
  cursor: pointer;
  font-family: "SCoreDream";
  font-size: calc(16px + 0.5vw);
  font-weight: 300;
  line-height: calc(32px + 0.5vw);
  text-align: justify;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_left .qna div ul li p {
    font-size: 18px;
    line-height: 36px;
  }
}
main .bighead .contents_area .cust_flex .cust_left .qna div ul li .qna_acc {
  background-color: #e2decf;
  padding: 5%;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_left .qna div ul li .qna_acc {
    padding: 15px;
  }
}
main .bighead .contents_area .cust_flex .cust_left .qna div ul li .qna_acc:last-child {
  margin-bottom: 0%;
}
main .bighead .contents_area .cust_flex .cust_left .qna div ul li .qna_acc p {
  display: block;
  font-family: "SCoreDream";
  font-size: calc(14px + 0.5vw);
  font-weight: 200;
  text-align: justify;
  line-height: calc(28px + 0.5vw);
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_left .qna div ul li .qna_acc p {
    font-size: 16px;
    line-height: 32px;
  }
}
main .bighead .contents_area .cust_flex .cust_left .qna div ul li .qna_acc p span {
  font-weight: 300;
}
main .bighead .contents_area .cust_flex .cust_left .qna div ul li .qna_acc p a {
  font-weight: 400;
}
main .bighead .contents_area .cust_flex .cust_right {
  z-index: 500;
  margin-top: 100px;
}
main .bighead .contents_area .cust_flex .cust_right h4 {
  font-family: "LEMON MILK Light";
  font-size: calc(0.5em + 3vw);
  margin-bottom: calc(0.5em + 2vw);
  text-align: center;
  letter-spacing: 2px;
  font-size: calc(1.2em + 1vw);
  text-align: left;
  margin-bottom: 0;
  color: #422d13;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_right h4 {
    font-size: 40px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_right h4 {
    font-size: 24px;
    margin-bottom: 0;
  }
}
main .bighead .contents_area .cust_flex .cust_right h4::before {
  content: "";
  display: block;
  width: 20px;
  border-bottom: 3px solid #422d13;
  margin: 0 0 5px 5px;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_right h4::before {
    content: "";
    display: block;
    width: 20px;
    border-bottom: 3px solid #422d13;
    margin: 0 0 5px 5px;
  }
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_right {
    width: 400px;
    margin-top: 0;
  }
}
main .bighead .contents_area .cust_flex .cust_right .faq_entire {
  margin-top: 35px;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_right .faq_entire {
    margin-top: 20px;
  }
}
main .bighead .contents_area .cust_flex .cust_right .faq_entire form .faq_title {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #e2decf;
  padding: 5px;
}
main .bighead .contents_area .cust_flex .cust_right .faq_entire form .faq_title .faq_select {
  margin-right: 10px;
  width: 30%;
}
main .bighead .contents_area .cust_flex .cust_right .faq_entire form .faq_title .faq_select select {
  display: block;
  font-family: "SCoreDream";
  font-size: calc(14px + 0.5vw);
  font-weight: 300;
  text-align: justify;
  background-color: transparent;
  border: 0;
  outline: none;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_right .faq_entire form .faq_title .faq_select select {
    font-size: 16px;
  }
}
main .bighead .contents_area .cust_flex .cust_right .faq_entire form .faq_title .faq_select select option {
  background-color: #e2decf;
  color: #422d14;
}
main .bighead .contents_area .cust_flex .cust_right .faq_entire form .faq_title .faq_input {
  width: 70%;
}
main .bighead .contents_area .cust_flex .cust_right .faq_entire form .faq_title .faq_input input {
  width: 100%;
  display: block;
  background-color: transparent;
  border: 0;
  outline: none;
  font-family: "SCoreDream";
  font-size: calc(12px + 0.5vw);
  font-weight: 300;
  text-align: justify;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_right .faq_entire form .faq_title .faq_input input {
    font-size: 14px;
  }
}
main .bighead .contents_area .cust_flex .cust_right .faq_entire form .faq_contents {
  background-color: #e2decf;
  padding: 10px;
  margin-top: 10px;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_right .faq_entire form .faq_contents {
    margin-top: 15px;
    padding: 15px;
  }
}
main .bighead .contents_area .cust_flex .cust_right .faq_entire form .faq_contents textarea {
  width: 100%;
  display: block;
  background-color: transparent;
  border: 0;
  outline: none;
  padding-right: 5px;
  font-family: "SCoreDream";
  font-size: calc(12px + 0.5vw);
  line-height: calc(24px + 0.5vw);
  font-weight: 300;
  text-align: justify;
  height: calc(200px + 10vw);
  overflow: overlay;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_right .faq_entire form .faq_contents textarea {
    font-size: 14px;
    height: 200px;
    line-height: 28px;
  }
}
main .bighead .contents_area .cust_flex .cust_right .faq_entire form .faq_contents textarea::-webkit-scrollbar {
  width: 8px;
}
main .bighead .contents_area .cust_flex .cust_right .faq_entire form .faq_contents textarea::-webkit-scrollbar-thumb {
  background-color: rgba(138, 113, 75, 0.8);
  border-radius: 8px;
}
main .bighead .contents_area .cust_flex .cust_right .faq_entire form .faq_contents textarea::-webkit-scrollbar-track {
  border-radius: 8px;
}
main .bighead .contents_area .cust_flex .cust_right .faq_entire form .btn_entire {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_right .faq_entire form .btn_entire {
    flex-direction: row;
    justify-content: space-between;
  }
}
main .bighead .contents_area .cust_flex .cust_right .faq_entire form .btn_entire .btn_grp {
  margin-top: 65px;
  padding-bottom: 100px;
  padding-bottom: 0;
  margin-top: 0;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_right .faq_entire form .btn_entire .btn_grp {
    margin-top: 30px;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_right .faq_entire form .btn_entire .btn_grp {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
  }
}
main .bighead .contents_area .cust_flex .cust_right .faq_entire form .btn_entire .btn_grp.submit button {
  cursor: pointer;
  background-color: #422d13;
  width: 100%;
  border: none;
  padding: calc(0.5em + 0.5vw) 0;
  transition: background-color 0.5s;
  margin-top: 25px;
}
main .bighead .contents_area .cust_flex .cust_right .faq_entire form .btn_entire .btn_grp.submit button:hover {
  background-color: rgb(101, 27, 0);
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_right .faq_entire form .btn_entire .btn_grp.submit button {
    padding: 10px 0px;
    width: 190px;
  }
}
main .bighead .contents_area .cust_flex .cust_right .faq_entire form .btn_entire .btn_grp.submit button .btn_flex {
  align-items: center;
  margin: 0 auto;
}
main .bighead .contents_area .cust_flex .cust_right .faq_entire form .btn_entire .btn_grp.submit button .btn_flex p {
  font-family: "SCoreDream";
  font-size: calc(1em + 1vw);
  font-weight: 300;
  color: #fefdf0;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_right .faq_entire form .btn_entire .btn_grp.submit button .btn_flex p {
    font-size: 18px;
  }
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_right .faq_entire form .btn_entire .btn_grp.submit button {
    margin-top: 0;
  }
}
main .bighead .contents_area .cust_flex .cust_right .faq_entire form .btn_entire .btn_grp.reset button {
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  border: 1px solid #422d13;
  padding: calc(0.5em + 0.5vw) 0;
  transition: background-color 0.5s;
  margin-top: 25px;
}
main .bighead .contents_area .cust_flex .cust_right .faq_entire form .btn_entire .btn_grp.reset button:hover {
  background-color: #422d13;
}
main .bighead .contents_area .cust_flex .cust_right .faq_entire form .btn_entire .btn_grp.reset button:hover .btn_flex p {
  color: #fefdf0;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_right .faq_entire form .btn_entire .btn_grp.reset button {
    padding: 10px 0px;
    width: 190px;
  }
}
main .bighead .contents_area .cust_flex .cust_right .faq_entire form .btn_entire .btn_grp.reset button .btn_flex {
  text-align: center;
  margin: 0 auto;
}
main .bighead .contents_area .cust_flex .cust_right .faq_entire form .btn_entire .btn_grp.reset button .btn_flex p {
  font-family: "SCoreDream";
  font-size: calc(1em + 1vw);
  font-weight: 300;
  color: #422d13;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_right .faq_entire form .btn_entire .btn_grp.reset button .btn_flex p {
    font-size: 18px;
  }
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .cust_flex .cust_right .faq_entire form .btn_entire .btn_grp.reset button {
    margin-top: 0;
  }
}
main .bighead .contents_area .back_logo {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30%;
}
@media screen and (min-width: 1400px) {
  main .bighead .contents_area .back_logo {
    display: block;
    opacity: 0.2;
  }
  main .bighead .contents_area .back_logo img {
    width: 100%;
    display: block;
  }
}

footer {
  padding-top: 30px;
  background-color: #333333;
  color: white;
  align-items: center;
}
footer div {
  margin-bottom: 40px;
}
@media screen and (min-width: 1400px) {
  footer div {
    margin-bottom: 30px;
  }
}
footer .footer_entire {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 89.7435897436%;
}
@media screen and (min-width: 1400px) {
  footer .footer_entire {
    width: 93.75%;
  }
}
footer .footer_entire .footer_logo {
  width: calc(50px + 10vw);
  order: 1;
}
@media screen and (min-width: 1400px) {
  footer .footer_entire .footer_logo {
    width: 180px;
  }
}
footer .footer_entire .footer_logo img {
  width: 100%;
}
footer .footer_entire .subscribe {
  position: relative;
  width: 100%;
  order: 3;
}
footer .footer_entire .subscribe h4 {
  font-family: "LEMON MILK Light";
  font-size: calc(0.8em + 1vw);
  letter-spacing: 3px;
  color: #ffef5a;
  margin-bottom: 2vw;
}
@media screen and (min-width: 1400px) {
  footer .footer_entire .subscribe h4 {
    font-size: 1.5em;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1400px) {
  footer .footer_entire .subscribe {
    order: 2;
    width: 20%;
  }
}
footer .footer_entire .subscribe form .form_flex {
  display: flex;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  footer .footer_entire .subscribe form .form_flex {
    display: block;
  }
}
footer .footer_entire .subscribe form .form_flex .form_email {
  width: 70%;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  footer .footer_entire .subscribe form .form_flex .form_email {
    width: 100%;
  }
}
footer .footer_entire .subscribe form label {
  font-family: "LEMON MILK Light";
  font-size: calc(0.5em + 0.5vw);
  letter-spacing: 2px;
  color: #ffef5a;
}
@media screen and (min-width: 1400px) {
  footer .footer_entire .subscribe form label {
    font-size: 14px;
  }
}
footer .footer_entire .subscribe form input {
  display: block;
  border: 0;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid white;
  padding-bottom: 0.2vw;
  margin: 0.5vw 0 0.75vw;
  color: white;
  outline: none;
  font-family: "SCoreDream";
  font-weight: 200;
}
@media screen and (min-width: 1400px) {
  footer .footer_entire .subscribe form input {
    margin: 10px 0 15px;
    padding-bottom: 3px;
  }
}
footer .footer_entire .subscribe form input:last-child {
  width: 100%;
}
footer .footer_entire .subscribe form button {
  width: 30%;
  height: 70px;
  background-color: transparent;
  color: white;
  font-size: calc(0.5em + 1vw);
  font-family: "SCoreDream";
  font-weight: 200;
  border: 0;
  cursor: pointer;
  text-align: right;
}
@media screen and (min-width: 1400px) {
  footer .footer_entire .subscribe form button {
    width: 100%;
    font-size: 22px;
  }
}
footer .footer_entire .subscribe form button span {
  margin-left: 10px;
  position: relative;
  display: none;
}
@media screen and (min-width: 1400px) {
  footer .footer_entire .subscribe form button span {
    display: inline;
  }
}
footer .footer_entire .subscribe form button span img {
  width: 20px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}
footer .footer_entire .navigation {
  width: 70%;
  order: 2;
}
footer .footer_entire .navigation h4 {
  font-family: "LEMON MILK Light";
  font-size: calc(0.8em + 1vw);
  letter-spacing: 3px;
  color: #ffef5a;
  margin-bottom: 2vw;
}
@media screen and (min-width: 1400px) {
  footer .footer_entire .navigation h4 {
    font-size: 1.5em;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1400px) {
  footer .footer_entire .navigation {
    order: 3;
    width: 25%;
  }
}
footer .footer_entire .navigation .flex_nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .footer_entire .navigation .flex_nav li {
  width: 50%;
  padding-bottom: 2vw;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 1400px) {
  footer .footer_entire .navigation .flex_nav li {
    padding-bottom: 20px;
  }
}
footer .footer_entire .navigation .flex_nav li span {
  display: none;
  height: auto;
  margin-right: 10px;
}
@media screen and (min-width: 1400px) {
  footer .footer_entire .navigation .flex_nav li span {
    display: inline;
  }
}
footer .footer_entire .navigation .flex_nav li span img {
  width: 22px;
  height: auto;
}
footer .footer_entire .navigation .flex_nav li a {
  color: white;
  font-size: calc(0.5em + 1vw);
}
@media screen and (min-width: 1400px) {
  footer .footer_entire .navigation .flex_nav li a {
    font-size: 18px;
  }
}
footer .footer_entire .address {
  width: 100%;
  order: 4;
  font-size: calc(0.5em + 1vw);
  padding-bottom: 2vw;
}
footer .footer_entire .address h4 {
  font-family: "LEMON MILK Light";
  font-size: calc(0.8em + 1vw);
  letter-spacing: 3px;
  color: #ffef5a;
  margin-bottom: 2vw;
}
@media screen and (min-width: 1400px) {
  footer .footer_entire .address h4 {
    font-size: 1.5em;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1400px) {
  footer .footer_entire .address {
    font-size: 16px;
  }
}
@media screen and (min-width: 1400px) {
  footer .footer_entire .address {
    width: 24%;
    padding-bottom: 20px;
  }
}
footer .footer_entire .address span {
  color: #ffef5a;
}
footer .footer_entire .address address {
  font-style: normal;
  margin-bottom: 1vw;
  font-family: "SCoreDream";
  font-weight: 200;
}
@media screen and (min-width: 1400px) {
  footer .footer_entire .address address {
    margin-bottom: 10px;
  }
}
footer .footer_entire .address .copyright h5 {
  font-family: "LEMON MILK Light";
  font-size: 1em;
  letter-spacing: 3px;
  color: #ffef5a;
  margin-bottom: 1.5vw;
}
@media screen and (min-width: 1400px) {
  footer .footer_entire .address .copyright h5 {
    margin-bottom: 20px;
  }
}
footer .footer_entire .address p {
  line-height: calc(1em + 1vw);
}
@media screen and (min-width: 1400px) {
  footer .footer_entire .address p {
    line-height: 24px;
  }
}