@import './style.scss';

@mixin responsive($break) { // 지원 최소 크기 320px
    @if $break == mobile-screens {
        @media screen and (min-width: $break-mobile) {
            @content;
        }
    }

    @else if $break == screen-800 {  // 이것은 br을 없애기 위해 사용된 값입니다. 사용 시 조장에 허락을 맡으시길 바랍니다.
        @media screen and (min-width:$break-middle) {
            @content;
        }
    }


    @else if $break == pc-screens { //중단점 1400px
        @media screen and (min-width:$break-pc) {
            @content;
        }
    }
}

@mixin video_matte { //비디오 매트(사진을 어둡게 처리)
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

//====================================서브페이지 통일안====================================//

@mixin font_setting {  // a나 input 같이 직접적으로 초기화되기 어려운 태그에 사용
    font: {
        family: $common_font;
        weight: 200;
    }
}

@mixin title_border($b_width, $b_height, $b_color, $b_margin){
    content: "";
    display: block;
    width: $b_width;
    border-bottom: $b_height solid $b_color;
    margin: $b_margin auto;
}

@mixin title_border_2($b_width, $b_height, $b_color, $b_margin, $u_margin){
    content: "";
    display: block;
    width: $b_width;
    border-bottom: $b_height solid $b_color;
    margin: 0 0 $u_margin $b_margin;
}

@mixin title_border_pc($b_margin, $u_margin){
    margin: 0 0 $u_margin $b_margin;
}

@mixin type_custom($t_size, $t_font){
    font: {
        family: $t_font;
        size: $t_size;
    }
}

@mixin sub_h3 {
    @include type_custom(2.5em, $eng_title_font);
    // margin-bottom: 50px;
    text-align: center;
    // margin-top: 125px;

    @include responsive(pc-screens) {
        font-size: 5em;
        // margin-bottom: 75px;
        // margin-top: 200px;
    }
}


//======================footer 부분(조장 허락 외에 손대지 말 것)=====================//

@mixin footer_h4{ 
    h4{
        font: {
            family: $eng_title_font;
            size: calc(0.8em + 1vw);
        }
        letter-spacing: 3px;
        color: #ffef5a;
        margin-bottom: 2vw;

        @include responsive(pc-screens) {
            font-size: 1.5em;
            margin-bottom: 30px;
        }
    }
}

@mixin footer_h5{
    h5{
        font: {
            family: $eng_title_font;
            size: 1em;
        }
        letter-spacing: 3px;
        color: #ffef5a;
        margin-bottom: 1.5vw;

        @include responsive(pc-screens){
            margin-bottom: 20px;

        }
    }
}

@mixin footer_label{
    font: {
        family: $eng_title_font;
        size: calc(0.5em + 0.5vw);
    }
    letter-spacing: 2px;

    @include responsive(pc-screens) {
        font-size: 14px;
    }
    color: #ffef5a;
}

