//============중단점============/
$break-mobile: '320px';
$break-middle: '800px'; // 이거는 br을 없애기 위한 용도입니다. 사용 시 조장에 허락을 맡으시길
$break-pc: '1400px';

//============폰트패밀리============/
$eng_title_font:'LEMON MILK Light';
$common_font: 'SCoreDream';


//============톤앤매너============/
$base_color_light: '#fefdf0';
$base_color_dark: '#442d13';
$footer_color: '#ffef5a';
$dkgray_color: '#333333';

//============마진값============/
$big_margin: 80px;
$big_margin_p:200px;
$mid_margin: 125px;
$mid_margin_p: 65px;
$small_margin: 50px;
$small_margin_p: 25px;

//============폰트사이즈============/
$bigf_title_p: 80px;
$bigf_main_p: 48px;
$bigf_sub_title_p: 48px;
$middlef_main_p:28px;
$mainf_p: 18px;

//============레터스페이싱============/
$bigs_main_p: 96px;
$mains_p: 36px;
