@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";

//header
.not_scroll{
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%
}

//header
.menu_modal {
    // display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 700;
    overflow: auto;
    background-color: rgba($color: #000, $alpha: 0.75);

    @include responsive(pc-screens){
        // min-height: 100vh;
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba($color: #ffffff, $alpha: 0.8);
        border-radius: 8px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 8px;
    }

    .menu_entire{
        width: 89.74358974358974%;
        margin: 0 auto;
        z-index: 800;
        
        @include responsive(pc-screens) {
            width: 93.75%;
            
        }

        .menu_header {
    
            h1 {
                display: none;
            }
    
            .menu_header_flex{
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
    
                @include responsive(pc-screens) {
                    margin-top: 30px;
                }
    
                .not_for_m{
                    display: none;
    
                    @include responsive(pc-screens) {
                        display: block;
                    }
                }
    
                .menu_header_left {
                    display: flex;
    
                    @include responsive(pc-screens) {
                        //
                    }
    
                    .menu_lan {
                        order: 2;
    
                        @include responsive(pc-screens) {
                            margin-right: 50px;
                        }
    
                        label {
                            color: white;
                            letter-spacing: 1px;
                            @include type_custom(1em,$eng_title_font);
    
                            @include responsive(pc-screens) {
                                order: 1;
                                display: inline;
                                font-size: 1.2em;
                            }

                            
                            
                        }
    
                        select {
                            margin-left: 2.5641vw;
                            color: white;
                            @include type_custom(0.75em,$common_font);
                            background: transparent;
                            border: 0;
                            border-bottom: 1px solid white;
                            border-collapse: collapse;
                            outline: none;
                            transform: translateY(-5px);
    
                            @include responsive(pc-screens) {
                                display: inline;
                                font-size: 0.9em;
                                margin-left: 10px;
                            }
                        }
    
                        option {
                            background-color: #333333;
                            border: 0;
                            opacity: 0.5;
    
                            &:hover{
                                background-color: white;
                                color: #333333;
                                transition: all 0.5s;
                            }
                        }
                    }
    
                    .menu_sns {
                        order: 1;
                        @include type_custom(1em,$eng_title_font);
                        letter-spacing: 1px;
    
                        @include responsive(pc-screens) {
                            display: inline;
                            font-size: 1.2em;
                            order: 2;
                        }
    
                        ul{
                            display: flex;
                            justify-content: space-between;
    
                            li{
                                margin-left: 5px;
                                @include responsive(pc-screens) {
                                    margin-left: 10px;
                                }

                                img:hover {
                                    transform: scale(1.25);
                                    transition: 1s;
                                }
                                
                            }
                        }
                    }
                }
    
                .menu_header_right {
                    display: flex;
                    
                    .menu_login {
                        transform: translateX(-20px);
                        
                        @include responsive(pc-screens){
                            // margin-right: calc(10px + 3vw);
                        }

                        &:hover {
                            img {
                                transform: scale(1.25) rotateY(360deg);
                                transition: 1s;
                            }

                            p {
                                color: #ffef5a;
                                transition: 1s;

                            }
                            
                        }
    
                        a{
                            display: flex;
    
                            img{
                                margin-right: 5px;
                                width: 18px;
                                height: 18px;
    
                                @include responsive(pc-screens) {
                                    margin-right: 10px;
                                    width: 22px;
                                    height: 22px;
                                }

                                
    
                            }
    
                            p {
                                @include type_custom(1em,$eng_title_font);
                                color: white;
                                letter-spacing: 1px;
                            }
                        }
    
                        
                    }
    
                    .menu_close {
                        display: flex;
                        cursor:pointer;

                        &:hover {
                            .close_modal {
                                transform: scale(1.25) rotateY(360deg);
                                transition: 1s;
                            }

                            p {
                                color: #ffef5a;
                                transition: 1s;

                            }
                            
                        }
    
                        .close_modal{
                            position: relative;
                            width: 18px; 
                            height: 18px;
                            margin: 0 auto;
                            display: inline;
    
                            @include responsive(pc-screens) {
                                width: 22px;
                                height: 22px;
                            }
    
                            span{
                                position: absolute;
                                top: 50%;
                                right: 0;
                                width: 100%;
                                height: 2px;
                                background-color: #fff;
                                @include responsive(pc-screens){
                                    margin-left: 0;
                                }
    
                                &:first-child{
                                    transform: rotate(135deg) translateX(0%);
                                }
    
                                &:nth-child(2) {
                                    transform: rotate(45deg) translateX(0%);
                                }
    
                            }
                        }
    
                        p{
                            margin-left: 10px;
                            @include responsive(pc-screens) {
                                @include type_custom(1em, $eng_title_font);
                                color: white;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }
        }
    
        .menu_main {
            padding-top: 6.4103vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
            @include responsive(pc-screens) {
                flex-direction: row;
                // align-items: center;
                padding-top: 50px;
                
                margin: 0 auto;
            }
    
            .menu_main_left{
                display: flex;
                flex-direction: row;
                align-items: center;
    
                @include responsive(pc-screens){
                    width: 30%;
                    flex-direction: column;
                }
    
                .img{
                    text-align: center;
                    width: 40%;
    
                    @include responsive(pc-screens) {
                        width: 80%;
                        max-width: 800px;
                    }
    
                    img.mm_logo {
                        width: calc(20vw);

                        @include responsive(pc-screens) {
                            display: none;
                        }
                    }
        
                    img.pm_logo{
                        display: none;
                        max-width: 300px;
                        margin: 0 auto;
                        
                        @include responsive(pc-screens) {
                            display: block;
                            width: 200px;
                            margin-top: 50px;
                        }
    
                    }
    
                }
    
                .contents {
                    width: 60%;
    
                    @include responsive(pc-screens) {
                        width: 90%;
                    }
                    p{
                        @include type_custom(0, $common_font);
                        font-size: calc(0.5em + 1.5vw);
                        text-align: center;
                        line-height: 2em;
    
                        @include responsive(pc-screens) {
                            margin-top: 40px;
                            font-size: 21px;
                        }
    
                        br {

                            @include responsive(screen-800) {
                                display: none;
                            }
    
                            @include responsive(pc-screens) {
                                display: block;
                            }
                        }
    
                        span.pc {
                            display: none;
    
                            @include responsive(pc-screens) {
                                display: inline;
                            }
                        }
    
                        @include responsive(pc-screens) {
                            span.mob {
                                display: none;
                            }
                        }
                    }
                }
                
    
            } //menu_main_left
    
            .menu_main_right {
                // background-color: darkblue;
                display: flex;
                flex-direction: column;
                padding-top: 50px;
                font-weight: 100;
                width: 100%;
                
                @include responsive(pc-screens) {
                    width: 70%;
                    flex-direction: row;
                    flex-wrap: wrap;
                }
    
                a{
                    color: white;
                }
    
                li{
                    cursor: pointer;
                }
    
                .menu_bighead {
                    // background-color: rebeccapurple;
    
                    @include responsive(pc-screens) {
                        // background-color: rebeccapurple;
                        display: flex;
                        flex-wrap: wrap;
                        margin: 0 auto;
                        width: 100%;
                        justify-content: space-between;
                        
                    }
            
                    li.big_menu {
                        @include type_custom(calc(16px + 2vw), $eng_title_font);
                        letter-spacing: 1px;
                        margin-bottom: 50px;
                        position: relative;
    
                        @include responsive(pc-screens) {
                            // background-color: deeppink;
                            font-size: 28px;
                            letter-spacing: 2px;
                            margin-bottom: 100px;
                            width: 25%;
                        }

                        &:hover {
                            transition: all 0.5s;
                            color: #ffef5a;

                            @include responsive(pc-screens) {
                                color: #ffef5a;
                            }

                            &>a {
                                color: #ffef5a;

                                @include responsive(pc-screens) {
                                    color: #ffef5a;
                                }

                            }

                            &::before {
                                @include title_border_2(30px, 3px, #ffef5a, 5px, 5px);
                                position: absolute;
                                top: -5px;

                                @include responsive(pc-screens) {
                                    @include title_border_2(30px, 3px, #ffef5a, 5px, 5px);
                                }
                                
                                
                            }
                        }

                        &>a {
                            @include type_custom(calc(16px + 2vw), $eng_title_font);
                            margin-bottom: 50px;

                            
                            &:hover {
                                color: #ffef5a;
                                transition: all 0.5s;

                                @include responsive(pc-screens) {
                                    color: #ffef5a;
                                }

                            }
    
                            @include responsive(pc-screens) {
                                // background-color: deeppink;
                                font-size: 28px;
                                letter-spacing: 2px;
                                margin-bottom: 100px;
                                width: 25%;
                            }

                            
                        }
                    }
    
    
    
                    .menu_semi_head {
                        padding-top: 20px;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;

                        
    
                        @include responsive(pc-screens) {
                            flex-direction: column;
                            padding-top: 30px;
                        }
                        
        
                        li.mid_menu {
                            @include type_custom(calc(14px + 0.5vw), $common_font);
                            color: white;
                            width: 50%;
                            font-weight: 300;
                            margin-bottom: calc(0.5em + 0.5vw);
    
                            @include responsive(pc-screens) {
                                width: 100%;
                                font-size: 18px;
                                margin-bottom: 20px;
                                font-weight: 200;
                            }

                            &:hover {
                                transition: all 0.5s;
                                color: #ffef5a;


                                @include responsive(pc-screens) {
                                    color: #ffef5a;
                                }

                                ul {
                                    display: block;
                                }
                            }

                            &>a {
                                @include type_custom(calc(14px + 0.5vw), $common_font);
                                font-weight: 300;

                                @include responsive(pc-screens) {
                                    width: 100%;
                                    font-size: 18px;
                                    margin-bottom: 20px;
                                    font-weight: 200;
                                }

                                &:hover {
                                    color: $base_color_light;
                                    color: #ffef5a;


                                @include responsive(pc-screens) {
                                    color: #ffef5a;
                                }

                                    
                                }
                            }
    
                            ul{
                                padding-top: 10px;
                                display: none;

                                
    
                                li{
                                    list-style: '- ' inside;
                                    margin-bottom: calc(0.2em + 0.3vw);
                                    margin-bottom: 10px;
                                    font-weight: 300;
                                    @include type_custom(calc(12px + 0.5vw), $common_font);

                                    @include responsive(pc-screens) {
                                        font-size: 16px;
                                    }

                                    

                                    a:hover {
                                        transition: all 0.5s;
                                        color: #ffef5a;


                                        @include responsive(pc-screens) {
                                            color: #ffef5a;
                                        }
                                    }
                                }
                            }
                        }
                    }
        
                }
    
            }
        }
    }

    .menu_matte {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        z-index: -1;

        @include responsive(pc-screens) {
            min-height: 100vh;
            background-color: rgba($color: #000, $alpha: 0.75);
        }
    }
    
}

header{
    // display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    .header_entire{
        display: flex;
        justify-content: space-between;
        width: 89.74358974358974%;
        margin: 0 auto;
        
        @include responsive(pc-screens) {
            width: 93.75%;
            
        }
    
        .header_logo {
            width: 126px;
    
    
            @include responsive(pc-screens){
                width: 200px;
            }
    
            img {
                width: 126px;
                height: auto;
                margin-top: 15px;
    
                @include responsive(pc-screens){
                    width: 200px;
                    margin-top: 20px;
                }
            }
        }
    
        .menu{
            width: 70px;
            display: flex;
            justify-content: space-between;
            color: white;
            align-items: center;
            text-align: right;
            margin-top: 5px;
            cursor:pointer;
    
            @include responsive(pc-screens){
                width: 80px;
            }
            
            .menu_bar {
                width: 33%;
                display:block;
                width: 16px;
                height: 13px;
                position:relative;

                span {
                    display:block;
                    height:0.5px;
                    width:100%;
                    background: white;
                    position:absolute;
                    right: 0;
        
                    &:nth-child(1) {
                        top:0;
                    }
        
                    &:nth-child(2) {
                        top:50%;
                        transform:translateY(50%);
                        width: 80%;
                    }
        
                    &:nth-child(3) {
                        bottom:0;
                    }

                    
                } //sapn
            } //menu_bar
        
            .menu_type{                
                p{
                    font-family: $eng_title_font, sans-serif;
                    font-size: 1em;
            
                    @include responsive(pc-screens){
                        font-size: 1.2em;
                    }
                    
                }
            } //.menu_type
        
            
        } //.menu
    }
    
}

section div.main0 {
    // background-size: cover;
    height: 100vh;

        .bg_img {
            @include video_matte;
            z-index: -1;
            overflow: hidden;
        
            &__content {
            height: 100%;
            width: 100%;
            object-fit: cover;  
            }

            @keyframes img_size {
                from{
                    transform: scale(1.2);
                    transform-origin: center center;
                }

                to{
                    transform: scale(1);
                }
            }

            img {
                animation: img_size 10s;

                @include responsive(pc-screens) {
                    width: 100vw;
                    height:100vh;
                }
            }
        }

        .main0_contents {
            position: absolute;
            text-align: center;
            width: 100%;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);

            h2 {
                @include type_custom(calc(1.5em + 3vw), $eng_title_font);
                letter-spacing: 2px;
                color: white;
                margin-bottom: calc(0.3em + 0.5vw);

                @include responsive(pc-screens) {
                    font-size: 5em;
                    margin-bottom: 40px;
                }

                &::before {
                    @include title_border(40px, 6px, white, 5px);

                    @include responsive(pc-screens) {
                        @include title_border(80px, 8px, white, 10px)
                    }
                }
            }
    
            button {
                // display: none; //버튼이 없는 경우 제거
                width: 200px;
                background-color: transparent;
                border: 1px solid white;
                height: 50px;
                @include type_custom(1.2em, $common_font);
                color: white;
                font-weight: 200;


                @include responsive(pc-screens) {
                    width: 360px;
                    height: 65px;
                    font-size: 2em;
                }

                &:hover {
                    background-color: #fff;
                    transition: all 0.5s;
                    color: #333;
                }
            }

        }

        .colormatte {
            @include video_matte;
            background-color: black;
            opacity: 0.1;
            z-index: -1;
        }

        .mouse {
            position: absolute;
            left: 50%;
            bottom: 20px;

            @keyframes move {
                from{
                    bottom: 30px;
                }

                75%{
                    bottom: 60px;
                } 
    
                to{
                    bottom: 60px;
                }
            }

            @keyframes move_pc {
                from{
                    bottom: 60px;
                }

                75%{
                    bottom: 30px;
                } 
    
                to{
                    bottom: 30px;
                }
            }

            img {
                position: absolute;
                bottom: 40px;
                animation: move 2s infinite;
                transform: translateX(-50%);

                @include responsive(pc-screens) {
                    animation: move_pc 2s infinite;
                }
            }

            p{
                transform: translateX(-50%);
                font: {
                    family: $eng_title_font;
                }
                letter-spacing: 1px;
                color: white;
            }

            .pc_mouse {
                display: none;

                @include responsive(pc-screens) {
                    display: block;
                }
            }

            .mo_mouse {
                img {
                    opacity: 0.5;
                }

                @include responsive(pc-screens) {
                    display: none;
                }
            }
        }
} // section

main {
    color: #333;

    .sec1 {
        .container {
            margin-top: $mid_margin_m;

            @include responsive(pc-screens) {
                display: flex;
                margin-top: $mid_margin;
            }

            .flex-box {
                background-color:rgba($color: #b80000, $alpha: 0.05);
                padding: 10px;
                width: 100%;
                margin-bottom: $small_margin_m;

                @include responsive(pc-screens) {
                    width: 50%;
                    margin-bottom: 0;
                }
            
                .flex-box1 {
                    display: flex;
                    // justify-content: space-between;

                    @include responsive(pc-screens) {
                        justify-content: space-around;
                    }

                    .info {
                        line-height: 50px;
                        letter-spacing: 1px;

                        @include type_custom(calc(0.6em + 0.6vw),$eng_title_font);

                        @include responsive(pc-screens) {
                            font-size: $mainf;
                            line-height: 60px;
                        }
                    }
    
                    .detail {
                        margin-left: 50px;
                        line-height: 50px;

                        @include type_custom(calc(0.6em + 0.6vw),$common_font);

                        @include responsive(pc-screens) {
                            font-size: $mainf;
                            line-height: 60px;
                        }
                    }
                }
    
                .menu-flex-box {
                    display: flex;
                    justify-content: center;
                    // margin-left: 200px;

                    .menu {
                        width: 170px;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        letter-spacing: 1px;
                        background-color: #eeb6b6;

                        @include responsive (pc-screens) {
                            margin-top: 10px;
                        }

                        a {
                            @include type_custom(calc(0.6em + 0.6vw), $eng_title_font);

                            @include responsive(pc-screens) {
                                font-size: $mainf;
                            }
                        }
                    }
                }
            }       
            
            .sec1-img {
                width: 100%;
                margin-bottom: $small_margin_m;

                @include responsive(pc-screens) {
                    width: 50%;
                    margin-bottom: 0;
                }
            }

            .sec1-img img {
                width: 100%;
                display: block;

                @include responsive(pc-screens) {
                    width: 100%;
                }
            }
        }
    }
    
    .sec2 {
        margin-bottom: $mid_margin_m;
        

        @include responsive(pc-screens) {
            margin-bottom: $mid_margin;
        }

        .sec2-flex-box {
            

            @include responsive(pc-screens) {
                display: flex;
                flex-direction: row-reverse;
            }
        }

        .sec2-flex-box ul {
            width: 100%;
            background-color:rgba($color: #b80000, $alpha: 0.05);
            margin-bottom: $small_margin_m;

            @include responsive(pc-screens) {
                width: 50%;
                text-align: left;
                // margin-top: 110px;
                margin-bottom: 0;
                padding-left: 80px;
                padding-top: 110px;
            }
        }
    
        .sec2-flex-box .notice {
            line-height: 50px;
            letter-spacing: 1px;

            @include type_custom(calc(0.6em + 0.6vw), $eng_title_font);

            @include responsive(pc-screens) {
                font-size: $mainf;
                line-height: 60px;
                // margin-right: 370px;
            }
        }
        
        .sec2-flex-box li {
            list-style: inside;
            line-height: 50px;

            @include type_custom(calc(0.6em + 0.6vw), $common_font);

            @include responsive(pc-screens) {
                font-size: $mainf;
                line-height: 60px;
            }
        }

        .hover-img {
            width: 100%;

            @include responsive(pc-screens) {
                width: 50%;
            }

            img {
                width: 100%;
                display: block;

                @include responsive(pc-screens) {
                    width: 100%;
                }
            }
        }

        .hover-img {
            position: relative;
        }

        .hover-img p {
            color: black;
            text-align: center;
            line-height: 60px;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            @include type_custom(calc(1em + 1vw),$common_font); 

            @include responsive(pc-screens) {
                font-size: 2em;
            }

            strong {
                font-family: $eng_title_font;
                letter-spacing: 2px;                    
            }

            a {
                font-family: $eng_title_font;
                color: #333333;
                font-size: 24px;
            }

            a:hover {
                text-decoration: none;
                color: #b80000;
                transition: all 0.5s;
            }
        }
    }

    .sec3 {
        margin-top: $mid_margin_m;
        margin-bottom: $small_margin_m;

        @include responsive(pc-screens) {
            margin-top: $mid_margin;
            margin-bottom: $small_margin;
        }

        .main-text {
            h4 {
                @include sub_h4;

                &::before {
                    @include title_border(30px, 3px, #333, 8px);

                    @include responsive(pc-screens) {
                        @include title_border(40px, 4px, #333, 10px);
                    }
                }
            }
        }
    }
    
    .sec4 {
        @include responsive(pc-screens) {
            display: flex;
        }
    
        .hover1 img,
        .hover2 img {
            width: 100%;
            display: block;
        }
        
        .hover1,
        .hover2 {
            width: 100%;
            position: relative; 
    
            @include responsive(pc-screens) {
                width: 50%;
            }
        }
    
        .hover1 p,
        .hover2 p {
            color: #333333;
            font-weight: 300;
            padding-left: 20px;
            line-height: 50px;            
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);

            @include type_custom(calc(0.7em + 1vw),$common_font);
    
            @include responsive(pc-screens) {
                font-size: 2em;
                padding-left: 100px;
                line-height: 70px;          
            }
        }

        .hover1 {
            margin-bottom: 0;

            @include responsive(pc-screens) {
                margin-bottom: $footer_margin;
            }
        }

        .hover2 {
            margin-bottom: $footer_margin_m;

            @include responsive(pc-screens) {
                margin-bottom: $footer_margin;
            }
        }
    }
} //.main

footer {
    padding-top: 30px;
    background-color: #333333;
    color: white;
    align-items: center;

    div{
        margin-bottom: 40px;

        @include responsive(pc-screens) {
            margin-bottom: 30px;
        }
    }
    
    .footer_entire{
        // background-color: rebeccapurple;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        width: 89.74358974358974%;
        

        @include responsive(pc-screens) {
            width: 93.75%;
        }

        

        .footer_logo{
            width: calc(50px + 10vw);
            order: 1;

            @include responsive(pc-screens) {
                width: 180px;
            }

            img{
                width: 100%;
            }
        }

        .subscribe{
            @include footer_h4;
            position: relative;
            width: 100%;
            order: 3;

            @include responsive(pc-screens){
                order: 2;
                width: 20%;
            }

            form {
                
                .form_flex {
                    display: flex;
                    margin: 0;
    
                    @include responsive(pc-screens) {
                        display: block;
                    }
                    
    
                    .form_email {
                        width: 70%;
                        margin: 0;
    
                        @include responsive(pc-screens) {
                            width: 100%;
                        }
                    }
                }

                label{
                    @include footer_label
                }

                input {
                    display: block;
                    border: 0;
                    width: 100%;
                    background-color: transparent;
                    border-bottom: 1px solid white;
                    padding-bottom: 0.2vw;
                    margin: 0.5vw 0 0.75vw;
                    color: white;
                    outline: none;
                    @include font_setting;

                    @include responsive(pc-screens) {
                        margin: 10px 0 15px;
                        padding-bottom: 3px;
                    }

                    &:last-child{
                        width: 100%;
                    }

                }

                button {
                    width: 30%;
                    height: 70px;
                    background-color: transparent;
                    color: white;
                    font-size: calc(0.5em + 1vw);
                    @include font_setting;
                    border: 0;
                    cursor: pointer; 
                    text-align: right;


                    @include responsive(pc-screens) {
                        width: 100%;
                        font-size: 22px;
                    }

                    span{
                        margin-left: 10px;
                        position: relative;
                        display: none;

                        @include responsive(pc-screens) {
                            display: inline;
                        }

                        img {
                            width: 20px;
                            height: auto;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                        }
    

                    }
                
                }
            }

        }

        .navigation {
            width: 70%;
            order: 2;
            @include footer_h4;

            @include responsive(pc-screens){
                order: 3;
                width: 25%;
            }

            .flex_nav {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                li{
                    width: 50%;
                    padding-bottom: 2vw;
                    align-items: center;
                    position: relative;

                    @include responsive(pc-screens) {
                        padding-bottom: 20px;
                    }
                    

                    span {
                        display: none;
                        height: auto;
                        margin-right: 10px;

                        @include responsive(pc-screens) {
                            display: inline;
                        }

                        img {
                            width: 22px;
                            height: auto;
                        }

                    }

                    a{
                        color: white;
                        font-size: calc(0.5em + 1vw);

                        @include responsive(pc-screens) {
                            font-size: 18px;
                        }
                    }
                }
            }

        }

        .address {

            @include footer_h4;

            width: 100%;
            order: 4;
            font-size: calc(0.5em + 1vw);
            padding-bottom: 2vw;

            @include responsive(pc-screens) {
                font-size: 16px;

            }


            @include responsive(pc-screens){
                width: 24%;
                padding-bottom: 20px;
            }

            span {
                color: #ffef5a;
            }

            address{
                font-style: normal;
                margin-bottom: 1vw;
                @include font_setting;

                @include responsive(pc-screens){
                    margin-bottom: 10px;
                }
            }

            .copyright {
                @include footer_h5;
            }

            p{
                line-height: calc(1em + 1vw);

                @include responsive(pc-screens) {
                    line-height: 24px;
                }
            }

        }


    }
}