@import "./style.scss";
@import "./mixin.scss";

html {
    overflow: overlay;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba($color: #bdbdbd, $alpha: 0.8);
        border-radius: 8px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 8px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333333;

    font: {
        family: $common_font;
        weight: 200;
        size: 1.125em;
    }
}

.wrapper {
    width: 100%;
    // background-color: rgb(151, 168, 240);
    color: white;
}

.container {
    width: 89.74358974358974%;

    @include responsive(pc-screens) {
        width: 100%;
    }

    position: relative;
    max-width: 1380px;
    margin: 0 auto;

}

a {
    color: #333333;
    text-decoration: none;
    font: {
        family: $common_font;
        weight: 100;
        size: 1em;
    }
}

h1{
    font-size: 7.5em;
    font-weight: 200;
    font-family: $common_font;
}

h2 {
    font-size: 5em;
    font-weight: 200;
}

h3 {
    font-size: 3em;
    font-weight: 200;
}

h4 {
    font-weight: 200;
}

h5 {
    font-weight: 200;
}

ul,
ol,
li {
    list-style: none;
}